@page
@model TranslationProjectManager.Pages.TranslatorAssignments.IndexModel
@{
}

<div>
    <div class="mb-3">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Budget requested</th>
                    <th scope="col">Language pair</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">Industry</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invite in @Model.Invites)
                {
                    <tr>
                        <td>@invite.Id</td>
                        <td>@invite.Title</td>
                        <td>@invite.Status.Title</td>
                        <td>@invite.Price?.ToString("C") @invite.Currency</td>
                        <td>@invite.SourceLanguage > @invite.TargetLanguage</td>
                        <td>@invite.Accuracy.Title</td>
                        <td>@invite.Industry.Title</td>
                        <td>@invite.Unit.ToString(invite.Amount)</td>
                        <td>@invite.ExpectedStart.ToString("dd/MM/yyyy") - @invite.Deadline.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a class="text-dark" asp-area="" asp-page="/TranslatorAssignments/Review" asp-route-id="@invite.Id">Review</a>
                        </td>
                    </tr>
                }

                @if (@Model.Invites.Count() == 0)
                {
                    <tr>
                        <td colspan="10">No invites found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>